<!DOCTYPE html>
<html>
<head>
  <title>TestVideoResponsiveness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



<div class="videoWrapper">
<!--   <iframe width="600" height="360" frameborder="0" allowfullscreen src="http://www.necn.com/templates/nbc_partner_player?cmsID=326853441&amp;videoID=DKt5Dc73cWfn&amp;origin=necn.com&amp;sec=news&amp;subsec=business&amp;width=600&amp;height=360&amp;turl=http%3A%2F%2Flocalhost%3A3000%2F&amp;ourl=http%3A%2F%2Flocalhost%3A3000&amp;lp=1" style="border: none;"></iframe> -->
</div>

<div id="videoWrapper">
  <script type="text/javascript" charset="UTF-8" src="http://www.necn.com/portableplayer/?cmsID=326853441&videoID=DKt5Dc73cWfn&origin=necn.com&sec=news&subsec=business&width=600&height=360"></script>
</div>

</body>
</html>
